<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-lg-4">
          <div class="cardsection">
             <div class="frontcard">
               <p id="cardno">0000 0000 0000 0000</p>
                <div class="name">
                  <p>Jane Applesauce</p>
                  <p>00/00</p>
                </div>
             </div>
             <div class="backcard">
                <div class="whitesection">
              </div>
              <div class="greysection">
               <p>000</p>
              </div>
             </div>
          </div>
       </div>
       <div class="col-lg-6">
         <div class="inputsection">
              <form action="submit">
               <label>CARDHOLDER'S NAME</label><br>
               <input type="text" placeholder="eg Jane Applesauce"><br>
               <label for="">CARD NUMBER</label><br>
               <input type="text" placeholder="eg 0023 4567 0875 0033"><br>
               <label for="">EXP.DATE (MM/YY)</label>
               <label for="">CVC</label> <br>
               <input id="for" type="text"><input id="for" class="mx-2" type="text"> <input id="cvc"class="mx-3" type="text"><br>
               <button>CONFIRM</button>
              </form>
         </div>
       </div>
    
    </div>
</div>